# Rust
target/
**/*.rs.bk

# Logs/temp
logs/
tmp/
*.log

# Docker/volumes
scylla-data/

# VS Code: ignore everything except these files
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
.cargo/
.cargo-ws/
*.pid
target/
